.item {
	top: 50%;
	height: 50px;
	width: 50px;
	position: absolute;
	background: orange;
}

.resizer {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: black;
	z-index: 2;
}

.resizer.nw{
	top: -1px;
	left: -1px;
	cursor: nw-resize;
}
.resizer.ne{
	top: -1px;
	right: -1px;
	cursor: ne-resize;
}
.resizer.sw{
	bottom: -1px;
	left: -1px;
	cursor: sw-resize;
}
.resizer.se{
	bottom: -1px;
	right: -1px;
	cursor: se-resize;
}

table {
	border: 1px solid rebeccapurple;
	text-align: left;
	border-collapse: collapse;
	box-sizing: border-box;
}


td, th {
 position: relative;
 padding: 10px 10px;
 z-index: 1;
}

.th:hover{
	user-select: none;   
	background: rgba(0, 0, 255, 0.133);
}

.borderTouch {
	position: absolute;
	width: 3px;
	height: 100%;
	padding: 0 10px;
	top: 0;
	right: 0px;
	opacity: 0;
	z-index: 2;
	transition: all 0.2s ease-in;
}

.borderTouch::after{
	content: "";
	position: absolute;
	background: rgb(0, 0, 255);
	width: 2px;
	height: 100%;
	top: 0;
	right: -2px;
	box-shadow: 0 0 11px 2px rgb(0, 0, 255);
}


.th:not(:last-child) > .borderTouch:hover{
	opacity: 1;
	cursor: ew-resize; 
}